<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Archiver</title>
</head>
<body>

<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="app">
    <h1>Document Archiver</h1>
    <p>
        The following files were a) periodically scraped, b) downloaded from the Internet Archive Wayback Machine, c)
        crowd-funded.
        Please use them only for research purpose.
    </p>

    <div class="table-responsive">
        <table class="table-hover" v-if="documents">
            <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>Title</th>
                <th>Created on</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, idx) in documents">
                <td>{{ item.id }}</td>
                <td><a v-bind:href="'../documents_download/'+item.id">{{ item.filename }}</a></td>
                <td>{{ item.title }}</td>
                <td>{{ item.pdf_creation_datetime }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="module">
  import { createApp } from 'vue'

  createApp({
    data() {
      return {
        documents: []
      }
    },
    mounted () {
        axios
          .get('../documents/')
          .then(response => {this.documents = response.data})
          .catch(error => console.log(error))
    }
  }).mount('#app')
</script>

</body>
</html>